$orange-color: #ee8228;
$normal_orange-color:#ef812a;
$blue-color:#316fa8;
$slow_blue-color:#2b557d;
$more_slow_blue-color:#2bc2d5;
$grey-color:#9f9f9f;
$grey-slow:#d9d9d9;
$mini_grey_slow-color:#8f939c;
$slow_blue-color:#3170a6;
$strong_blue-color:#2f70a8;
$dark_blue-color:#2c4e73;
$slow_black-color:#1a1e1f;
$green_color:#a5c734;